$light-background: #ffffff;
$light-text-color: #212121;
$light-background-navbar: #F9F9F9;

$dark-background: #212121;
$dark-text-color: #f3f3f3;
$dark-background-navbar: #171717;
$dark-light: #2F2F2F;

$default-color-area: #8E663A;
$color-gray-text: #999999;